{% extends "layout" %}

{% block content %}

<h1>Movies</h1>

<div class="row">

    {{ csrfField }}

    <div class="panel panel-primary">
      <div class="panel-heading centered">Movies</div>
      <ul class="list-group">
       <table style="width:100%" border="1">
        {% for movie in movies %}
        <ul class="list-group">
             <div class="list-group">
                  <tr align="center">
                    <th class="list-group-item-text centered"><a href="/movieInfo/{{movie.id}}">{{movie.title}}</a></th>
                    <th class="list-group-item-text centered">{{movie.director}}</th>
                    <th class="list-group-item-text centered">{{movie.description}}</th>
                    {% if movie.is_rented == 'true' %}
                        <th class="list-group-item-text centered">Already owned</th>
                        {% if currentUser.username == 'admin'%}
                          <th class="list-group-item-text centered"></th>
                        {% endif %}
                    {% else %}
                        <th class="list-group-item-text centered">Not owned yet</th>
                        {% if currentUser.username == 'admin'%}
                          <th class="list-group-item-text centered"><a id="delete" class="btn btn-primary" href="/delete/{{movie.id}}">Delete</a></th>
                        {% endif %}
                    {% endif %}
                  </tr>
             </div>
         </ul>
        {% endfor %}
        </table> 
      </ul>
    </div>

</div>
{% endblock %}