{% extends "layout" %}

{% block content %}

<h1>My rents</h1>

<div class="row">

    {{ csrfField }}

    <div class="panel panel-primary">
      <div class="panel-heading centered">Rents</div>
      <ul class="list-group">
       <table style="width:100%" border="1">
        {% for rent in rentList %}
        <ul class="list-group">
             <div class="list-group">
                  <tr align="center">
                    <th class="list-group-item-text centered"><a href="/rentInfo/{{rent.id}}">{{rent.id}}</a></th>
                    <th class="list-group-item-text centered">{{rent.title}}</th>
                    <th class="list-group-item-text centered">{{rent.from}}</th>
                    <th class="list-group-item-text centered">{{rent.to}}</th>
                    <th class="list-group-item-text centered">{{rent.expired}}</th>
                    <th class="list-group-item-text centered"><a href="/rentInfo/return/{{rent.id}}" id="return" class="btn btn-primary">Return it</a></th>
                  </tr>
             </div>
         </ul>
        {% endfor %}
        </table> 
      </ul>
    </div>

</div>
{% endblock %}